
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

.App {
  background-color: rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-shadow: 2px 1px #52848e;
}

.search {
  width: 100%;
  padding: 14px 28px;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  color: #000000;;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #b2aebd;
  
  font-family: 'Open Sans', sans-serif;
}

.container-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
  font-weight: bold;
}


ul {
  list-style: none; 
  padding: 15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  text-align: start;
  list-style: none;
  margin-top: 5px;
}

li:hover {
  background: #DCDDE1;
}


.recipes {
  width: 350px;
  background-color: rgba(186, 188, 189, 0.589);
  border-radius: 20px;
  margin-top: 40px;
}

h2 {
  height: 90px;
  border-radius: 20px;
  text-shadow: 1px 1px #2fa5bd;
}

img {
  border-radius: 20px;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
}

.filter-bth {
  margin: 15px;
  padding: 3px;
  width: 130px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-shadow: 0.3px 0.3px #39666f;
  border: none;
  background-color:#bab8bc;
}

button {
  cursor: pointer;
}

.btn-search {
  padding: 12px;
  font-size: 14px;
  background-color:#52848e;
}


.btn-link {
  background-color: transparent;
  border:#5a8f9a 2px solid;
  padding: 12px 24px;
}
.btn-link:hover{
  background-color: #5a8f9a;
  color: white;
}


@media all and (max-width: 500px) {
  h2 {
    height: max-content;
  }

  .container-btn {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
  }
  
  .filter-bth {
    margin: 15px;
    padding: 3px;
    width: 130px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-shadow: 0.3px 0.3px #39666f;
    border: none;
    background-color: rgba(186, 188, 189, 0.753);
  }
  
  .hidden {
    display: none;
  }

}